body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-container{
    margin-top: 2%;
    height: 500px;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 20px;
}

.img-qr{
    width: auto;
    
}

.img-qr img{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.text-box{
    text-align: center;
    padding: 10px;
}

h2{
    color: hsl(218, 44%, 22%);
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (width : 375px){
    .card-container{
        height: 495px;
        width: 280px;
    }
}